{% block body %}
<div class="row justify-content-center">
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="form-group">
                {{ form_label(form.NomEvenement, 'Nom de l\'évènement' )}}
                {{ form_widget(form.NomEvenement, {'attr': {'class': 'form-control','type':'text','placeholder':'Mon évènement'}}) }}
            </div>
        </div>
        <div class="form-row">

            <div class="input-group date" id='datetimepicker1'>
                {{ form_label(form.Date, 'Date de l\'évènement')}}
                {{ form_widget(form.Date, {'attr': {'required': 'true' }}) }}
            </div>
        
            <div  class="form-group col-12 col-md-6">
                {{ form_label(form.HeureDebut, 'Heure du Début')}}
                {{ form_widget(form.HeureDebut, {'attr': {'required': 'true' }}) }}
            </div>
            <div  class="form-group col-md-6">
                {{ form_label(form.HeureFin, 'Heure de Fin')}}
                {{ form_widget(form.HeureFin, {'attr': {'required': 'true' }}) }}
            </div>
            <div class="form-group col-12 col-md-6">
                {{ form_label(form.NombrePlace, 'Nombre de places' )}}
                {{ form_widget(form.NombrePlace, {'attr': {'class': 'form-control','required':'true'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.CategoriePlace, 'Catégorie de places' )}}
                {{ form_widget(form.CategoriePlace, {'attr': {'class': 'form-control','required':'true'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.Clients, 'Client' )}}
                {{ form_widget(form.Clients , {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.TypeEvenements, 'Type d\'évènements' )}}
                {{ form_widget(form.TypeEvenements , {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        {{ form_end(form) }}
    </div>
</div>


  
{% endblock %}
